disasm
.vscode
*.dSYM
build
main
dump.data
.DS_Store
part2/haversine_generator
*.json
part2/json_parser
part2/haversine_compare
part2/mac_performance_counter
part2/haversine_compare_instrumented
part2/read_overhead_test
